#contents {
    margin: 0 auto;
}

.scoreboard .scoreboard__col {
    flex: 0 0 45%;
}

.scoreboard .scoreboard__center {
    flex: 0 0 10%;
}

@font-face {
    font-family: LigatureSymbols;
    src: url("../font/LigatureSymbols-2.11.ttf") format("truetype");
}

.icon {
    font-family: LigatureSymbols;
    font-size: 4em;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: white
}

.icon.options::before {
    content: "\E055";
}
